In [1]:
import numpy as np
import scipy
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 
from nltk.stem import WordNetLemmatizer
import re
import string
import pandas as pd

In [2]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/saurabhshashank/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/saurabhshashank/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/saurabhshashank/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [3]:
def nlp_treatment(s1):
    s1=s1.lower()
    result = re.sub(r'\d+', '', s1)
    translator = str.maketrans('', '', string.punctuation)
    result = result.translate(translator)
    result=result.strip()
    #print("post number, punctuation,space removal ={0}".format(result))
    return result
def remove_stop_words(s1):
    stop_words=set(stopwords.words('english'))
    word_tokens = word_tokenize(s1)
    filtered_sentence = [w for w in word_tokens if not w in stop_words]
    #print('post stop word removal ={0}'.format(filtered_sentence))
    return filtered_sentence
def lemiatize(s1):
    lemmatizer = WordNetLemmatizer()
    lem_words=[lemmatizer.lemmatize(w) for w in s1]
    #print('post lematize = {0}'.format(lem_words))
    return lem_words

def preprocess(s1):
    s1=nlp_treatment(s1)
    s1=remove_stop_words(s1)
    s1=lemiatize(s1)
    return s1

def loadGloveModel(gloveFile):
    print("Loading Model . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .")
    f = open(gloveFile,'r', encoding="utf8")
    model = {}
    counter = 0
    for line in f:
        counter+=1
        try:
            splitLine = line.split()
            word = splitLine[0]
            embedding = np.array([float(val) for val in splitLine[1:]])
            model[word] = embedding
        except Exception as e:
            continue
#             print('error = {0}, input = {1}'.format(e,line))
        if counter % 100000 == 0 :
            print("Done.",len(model)," words loaded . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .")
    print("Done.",len(model)," words loaded!")
    return model

def cosine_distance_wordembedding_method(model,s1, s2):
    vector_1 = np.mean([model[word] for word in preprocess(s1)],axis=0)
    vector_2 = np.mean([model[word] for word in preprocess(s2)],axis=0)
    cosine = scipy.spatial.distance.cosine(vector_1, vector_2)
    print('--------------------------------------------------------------')
    print('Score',round((1-cosine)*100,2),'%')
    print('--------------------------------------------------------------')

def find_sim(model):
    print('------------------------------- Enter Senetence one -------------------------------')
    sen_1=input()
    print('------------------------------- Enter Senetence two -------------------------------')
    sen_2=input()
    cosine_distance_wordembedding_method(model,sen_1,sen_2)

In [4]:
if __name__ == '__main__':
    glove_path='./glove.6B/glove.6B.300d.txt'
    model=loadGloveModel(glove_path)
#     print(' Enter q to Quite \n Any key to Continue')
#     control=input()
#     while( control.upper() != 'Q' ):
#         find_sim(model)
#         print(' Enter q to Quite \n Any key to Continue')
#         control=input()

Loading Model . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Done. 100000  words loaded . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Done. 200000  words loaded . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Done. 300000  words loaded . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Done. 400000  words loaded . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Done. 400000  words loaded!

In [5]:
def get_score(row):
    try:
        s1=row.query
        return np.mean([model[word] for word in preprocess(s1)],axis=0)
    except:pass

In [31]:
top_query=pd.read_csv('frequent_query.csv')

In [32]:
top_query.shape

(319853, 2)

In [25]:
top_query.head()

   Unnamed: 0             query
0           0  ashcanvas loafer
1           1  ashcanvas loafer
2           2    black backpack
3           3    black backpack
4           4    black backpack

In [27]:
top_query.drop_duplicates('query',inplace=True)

In [34]:
top_query['vec']=top_query.apply(get_score,axis=1)

In [33]:
top_query.shape

(319853, 2)

In [29]:
top_query.head()

,Unnamed: 0,query,vec
0,0,ashcanvas loafer,None
2,2,black backpack,"[-0.1901475, -0.047051499999999996, -0.0162699..."
5,5,black belt,"[-0.0394776, 0.048766000000000004, 0.325655000..."
11,11,black boot,"[0.1481325, 0.2470735, 0.12211500000000002, -0..."
22,22,black coat outerwear,"[0.10773766666666668, -0.06480433333333334, 0...."

In [10]:
top_query.to_csv('query_vec.csv')

In [11]:
print('hello')

hello

In [12]:
newDF = pd.DataFrame()

In [23]:
newDF['t']=['test']

In [18]:
newDF['t']=[1]

In [22]:
newDF.head()

      t
0  test

In [21]:
newDF['t']='test'