In [4]:
import pandas as pd
import numpy as np
import scipy
from glove import model

Loading Model . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Done. 100000  words loaded . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Done. 200000  words loaded . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Done. 300000  words loaded . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Done. 400000  words loaded . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Done. 400000  words loaded!

In [5]:
from spell_correction import preprocess

In [6]:
def read_top_query(pd):
    return pd.read_csv('frequent_query.csv')

In [39]:
def get_score_old(row):
    try:
        vector_1 = np.mean([model[word] for word in preprocess(row.in_query)],axis=0)
        vector_2 = np.mean([model[word] for word in preprocess(row.query)],axis=0)
        score=scipy.spatial.distance.cosine(vector_1, vector_2)
        return score
    except:pass

In [47]:
def get_score(row):
    try:
        vector_1 = np.mean([model[word] for word in row.in_query.split(" ")],axis=0)
        vector_2 = np.mean([model[word] for word in row.query.split(" ")],axis=0)
        score=scipy.spatial.distance.cosine(vector_1, vector_2)
        print("{0} = {1},{2}".format(score,row.in_query,row.query))
        return score
    except:pass

In [41]:
def get_top_n(q,top_df,model,n=5):
    top_df['in_query']=q
    vector_1 = np.mean([model[word] for word in preprocess(q)],axis=0)
    top_df['vec']=top_df.apply(get_score,axis=1)
    top_df['score']=top_df.apply(lambda x : scipy.spatial.distance.cosine(x.vec, x.query),axis=1)
    return top_df.sort('score',ascending=False)[['query']].head(n).tolist()

In [42]:
top_query=pd.read_csv('frequent_query.csv')

In [50]:
top_query['in_query']=' '.join(preprocess("black shirt top"))

In [55]:
temp=top_query

In [56]:
temp['in_query']='test'

In [58]:
temp.head()

   Unnamed: 0                 query in_query     score
0           0      ashcanvas loafer     test       NaN
1           2        black backpack     test  0.311861
2           5            black belt     test  0.301824
3          11            black boot     test  0.295646
4          22  black coat outerwear     test  0.362195

In [57]:
top_query.head()

   Unnamed: 0                 query in_query     score
0           0      ashcanvas loafer     test       NaN
1           2        black backpack     test  0.311861
2           5            black belt     test  0.301824
3          11            black boot     test  0.295646
4          22  black coat outerwear     test  0.362195

In [52]:
top_query['score']=top_query.apply(get_score,axis=1)

0.31186072829558265 = black shirt top,black backpack
0.30182385324309446 = black shirt top,black belt
0.29564615233266656 = black shirt top,black boot
0.36219473115005274 = black shirt top,black coat outerwear
0.46146812176499763 = black shirt top,black duffle bag
0.31529388294997474 = black shirt top,black fashion watch
0.29346022010845085 = black shirt top,black flat
0.3485505163025403 = black shirt top,black handbag
0.20732537146068764 = black shirt top,black hat
0.31753287793016194 = black shirt top,black heel
0.45737920598756965 = black shirt top,black loafer
0.39200476083597957 = black shirt top,black luggage
0.35321478911423887 = black shirt top,black pant
0.4110762182233575 = black shirt top,black sandal
0.0 = black shirt top,black shirt top
0.27906846078377756 = black shirt top,black short
0.4019852526843395 = black shirt top,black swimwear
0.3718665856389304 = black shirt top,black underwear intimate
0.33927448380221104 = black shirt top,black wallet
0.57437256791215 = black shirt top,boat cut boot
0.5988035619829104 = black shirt top,boat cut jean
0.4337157963749322 = black shirt top,brown fashion watch
0.6908738166018342 = black shirt top,chestnut boot
0.7414315961458295 = black shirt top,cognac belt
0.3764339467518356 = black shirt top,combo sock black color
0.7042030338565288 = black shirt top,comfortable jumpsuit romper range
0.8390211345553414 = black shirt top,comfortable sleepwear range
0.14531892286414583 = black shirt top,khaki shirt top
0.8077526661808736 = black shirt top,leopard sandal
0.7607886657543144 = black shirt top,meme hoodies sweatshirt trend
0.7624891861255718 = black shirt top,natural heel
0.44586196113123355 = black shirt top,navy hat
0.593222733479742 = black shirt top,party backpack
0.5493963490080132 = black shirt top,party belt
0.6018850969579445 = black shirt top,party boot
0.6723861434711642 = black shirt top,party bracelet
0.5457177455442586 = black shirt top,party coat outerwear
0.4529312260415661 = black shirt top,party dress
0.6451847383692378 = black shirt top,party duffle bag
0.6827277913200986 = black shirt top,party earring
0.5411540454990527 = black shirt top,party fashion watch
0.5783079886536954 = black shirt top,party flat
0.6371100189348315 = black shirt top,party handbag
0.4678010609904104 = black shirt top,party hat
0.6395499323007241 = black shirt top,party heel
0.6026527414162235 = black shirt top,party hosiery tights
0.7702514679105193 = black shirt top,party loafer
0.7001290189285806 = black shirt top,party luggage
0.5866070381560525 = black shirt top,party luxury watch
0.6466637576262146 = black shirt top,party oxford
0.6408568443025305 = black shirt top,party pant
0.6099383840184749 = black shirt top,party ring
0.7235737944738609 = black shirt top,party sandal
0.18503381053518864 = black shirt top,party shirt top
0.5910825092264654 = black shirt top,party short
0.4922840014743336 = black shirt top,party skirt
0.7434182057762202 = black shirt top,party slipper
0.8209807570601406 = black shirt top,party sunglass
0.4741591030617138 = black shirt top,party sweater
0.7238369771387687 = black shirt top,party swimwear
0.519696568127983 = black shirt top,party underwear
0.5882907197884046 = black shirt top,party underwear intimate
0.6396418663085848 = black shirt top,party wallet
0.5178886016389056 = black shirt top,silver fashion watch
0.37957351736562905 = black shirt top,white flat
0.05813711980537528 = black shirt top,white shirt top
0.42923840809766656 = black shirt top,white underwear intimate

In [54]:
top_query.sort_values('score').head(5)

    Unnamed: 0            query         in_query     score
15          72  black shirt top  black shirt top  0.000000
78      319845  white shirt top  black shirt top  0.058137
37      306581  khaki shirt top  black shirt top  0.145319
63      317546  party shirt top  black shirt top  0.185034
9           39        black hat  black shirt top  0.207325

In [17]:
top_query['test']=top_query.apply(lambda x : x.query.split(" "),axis=1)

In [18]:
top_query.head()

,Unnamed: 0,query,in_query,test
0,0,ashcanvas loafer,black leather shoe,"[ashcanvas, loafer]"
1,2,black backpack,black leather shoe,"[black, backpack]"
2,5,black belt,black leather shoe,"[black, belt]"
3,11,black boot,black leather shoe,"[black, boot]"
4,22,black coat outerwear,black leather shoe,"[black, coat, outerwear]"

In [15]:
top_query[top_query['query'] == 'black shirt top'].head()

    Unnamed: 0            query            in_query
15          72  black shirt top  black leather shoe

In [97]:
top_query.sort_values('score',ascending=True).head(5)['query'].to_json()

'{"15":"black shirt top","9":"black hat","78":"white shirt top","37":"khaki shirt top","1":"black backpack"}'

In [1]:
("black shirt top")

['b', 'l', 'a', 'c', 'k', ' ', 's', 'h', 'i', 'r', 't', ' ', 't', 'o', 'p']